.portfolio {
  &__item {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
    overflow: hidden;

    &:hover .portfolio__overlay {
      top: 0;
    }

    &-title {
      position: absolute;
      top: 13%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 25px;
      font-weight: 800;
    }

    &-top {
      height: 90px;
      background-image: url('../assets/accelerate.png');
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
    &-top--1 {
      background-image: url('../assets/childcare.png');
    }
    &-top--2 {
      background-image: url('../assets/burgetify-2.png');
    }
    &-top--3 {
      background-image: url('../assets/fast-food.png');
    }

    &-content {
      text-align: center;
      padding: 1rem 6rem;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li:not(last-child) {
        font-size: 1.2rem;
        padding: 0.5rem;
        border-bottom: 1px solid #eee;
      }
    }
  }

  &__img {
    max-width: 100%;
    height: 245px;
    border: 1px solid #f1f1f1;
  }

  &__overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ef6e30;
    color: #fff;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
  }
}
