.portfolio {
  &__item {
    position: relative;
    width: 100%;
    height: 260px;
    margin-bottom: 30px;
    overflow: hidden;

    &:hover .portfolio__overlay {
      top: 0;
    }
  }

  &__img {
    max-width: 100%;
    height: 245px;
    border: 1px solid #f1f1f1;
  }

  &__overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ef6e30;
    color: #fff;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
  }
}
