body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #2d3038;
  font-size: 1rem;
  background-color: #fff;
}
