body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #2d3038;
  font-size: 1rem;
  background-color: #fff;
}

.container {
  width: 80rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.u-margin-top {
  margin-top: 80px;
}
.u-margin-bottom {
  margin-bottom: 100px;
}

.col-sm-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-md-4 {
  max-width: 30%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-8 {
  max-width: 65%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
